body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftside,
.rightside {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .leftside,
  .rightside {
    height: 100%;
  }

}
}

.min{
  position: relative;
  /* border-bottom: 1px solid #e7e7e7; */
}

.pc{
  position: absolute;
  right: 0;
}

.min{
    margin-left:  166px;
    padding-top: 115px;
    padding-right: 30px;
    color: white;
    font-size:large;
    margin-bottom: 20.75%;
}

h1{
    font-style: bold;
    font-size: 48px;
    margin-right: 25px;
}

.leftside {
  background: rgb(11, 163, 219);
}

.rightside {
  background: white;
}

.sid{
    padding-top: 145px;
}

a {
  width: 20px;
  height: 20px;
  position: absolute;
}
img {
  width: 35px;
  height: 35px;
}
ul {
  list-style: none;
}
li {
  position: relative;
  /* border-bottom: 1px solid #e7e7e7; */
  padding: 4px 0 4px 60px;
}
.edit {
  left: 0px;
}